<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}STUDFORCE{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

    <!-- Font Prompt -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-white font-prompt">
    <!-- Header, Navigation หรือส่วนอื่น ๆ ที่ใช้ร่วมกัน -->
    <header>
    </header>

    <!-- Content Block ที่หน้าอื่น ๆ จะเติมเนื้อหามาที่นี่ -->
    <div id="app" data-theme="light" class="bg-white">
        {% block content %}
        <!-- เนื้อหาของแต่ละหน้า -->
        {% endblock content %}
    </div>
</body>
</html>

<style>
.body{
  font-family: 'Prompt', sans-serif;
}
</style>
